
 
 .forgotPassword {
    margin-top: 30px;
 }
 
 .forgotPassword .iconWrapper {
     display: flex;
     color: #000;
     justify-content: center;
 }
 
 .iconWrapper img{
     height: 50px;
     width: 50px;
 }

 .fpContent{
    width: 300px;
    box-shadow: 0 0 10px 0 #ccc;
    display: grid;
    align-items: center;
    gap: 16px;
    margin: auto;
    padding: 32px 24px;
    margin-top: 20px;
 }
 
 .userNameWrapper {
     display: grid;
 }
 
 .userNameWrapper input{
     height: 32px;
     margin-top: 8px;
 }
 
 
 .forgotPassword button {
     text-transform: capitalize;
     /* margin-top: 24px; */
 }
 

 .invalidErrorMessage {
    color: firebrick;
 }